#!/bin/bash
## Profile that is used when any graphical X session is started (via startx or a Desktop Manager)

#####################
#####   DWM   #######
#####################

slstatus &
~/.fehbg &
#compton -b --config ~/.config/compton/compton.conf

## start some nice programs
if [ -d /etc/X11/xinit/xinitrc.d ] ; then
 for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
  [ -x "$f" ] && . "$f"
 done
 unset f
fi
